<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog - Proyecto Coder</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'appUno/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">Proyecto Coder</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Info</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contacto</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">BIENVENIDO AL BLOG </h1>
                    <h1 class="fw-bolder">DE LA SCALONETA! </h1>
                    <p class="lead mb-0">Las mejores estadisticas de Qatar 2022</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://media.ambito.com/p/115d8026d9449eb0604eda2b3913d7ba/adjuntos/239/imagenes/040/370/0040370089/argentina-campeon-del-mundo-2022-2022-4jpg.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">Diciembre 19, 2022</div>
                            <h2 class="card-title">ARGENTINA CAMPEON MUNDIAL!</h2>
                            <p class="card-text">La Selección Argentina volvió a coronarse campeón del Mundo luego de 36 años, al vencer en los penales a Francia, en una definición infartarte de la final del Mundial de Qatar 2022. El avión partió de Qatar y en las próximas horas llegará a la Argentina.</p>
                            <a class="btn btn-primary" href="https://www.ole.com.ar/mundial/mundial-qatar-2022/argentina-francia-final-mundial-vivo-messi_0_5L5mzPlsMc.html">Leer mas →</a>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpf_pSPgqimeTy2VlvLBeKWmS8ttt7dhxz1A&usqp=CAU" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">Diciembre 19, 2022</div>
                                    <h2 class="card-title h4">Jugadores</h2>
                                    <p class="card-text"> Vas a ver las mejores estadisticas de los jugadores en este mundial de qatar 2022.</p>
                                    <a class="btn btn-primary" href="#!"> Estadisticas →</a>
                                </div>
                            </div>
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKlU_67vLEMQTczRRMl66J_EgTa1MpqYQXFA&usqp=CAU" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">Diciembre 19, 2022</div>
                                    <h2 class="card-title h4">Goles</h2>
                                    <p class="card-text">Vas a ver las mejores estadisticas de los goles en este mundial de qatar 2022.</p>
                                    <a class="btn btn-primary" href="#!">Estadisticas →</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://media.tycsports.com/files/2022/12/18/517235/emiliano-martinez_862x485.webp" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">Diciembre 19, 2022</div>
                                    <h2 class="card-title h4">Partidos</h2>
                                    <p class="card-text">Vas a ver las mejores estadisticas de los partidos en este mundial de qatar 2022.</p>
                                    <a class="btn btn-primary" href="#!">Estadisticas →</a>
                                </div>
                            </div>
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://agenciafe.com/data/img_cont/img_imagenes/172264.png" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">Diciembre 19, 2022</div>
                                    <h2 class="card-title h4">Cuerpo tecnico</h2>
                                    <p class="card-text">Vas a ver al detalle, a los integrantes.</p>
                                    <a class="btn btn-primary" href="#!">Leer más →</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">BUSQUEDA</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Coloque una palabra..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Ir!</button>
                            </div>
                        </div>
                    </div>
                  
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Luciano Di Naso</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
